/* G E N E R A L */
@font-face {
  font-family: 'PxPlus IMB VGA8';
  src: url('../PxPlus_IBM_VGA8.ttf') format('truetype');
}


html, body {
  height: 100%;
  background-image: url('../bgMWWMInvert.jpg');
  background-position: center center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-color: black;
  color: white;
	font-family: 'PxPlus IMB VGA8';
  scroll-behavior: smooth;
}



/* GLASS BACKGROUND */
.glass {
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(8px);           
  border: 1px solid rgba(255, 255, 255, 0.3); 
  border-radius: 2vh;
  box-shadow: 0 8px 24px rgba(255, 255, 255, 0.2);
  padding: 5vh;
  margin: 3vh;
  
}

body > section { display: none; }  
.wrap > .glass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;    
}



/* WRAP CONTAINER */
.wrap {
  width: 80vw;   
  max-width: 1000px;   
  margin: 10vh auto;  
  position: relative;
  z-index: 1;
  color: rgb(255, 255, 255);
}







/* PAGE FLICKER */
@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

.crt::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  animation: textShadow 1.6s infinite;
}




/* LINK TEXT GLITCH EFFECT */
.glitch-text a {
  position: relative;
  color: rgb(255, 255, 255);;
  font-size: 2.5rem;
  text-align: center;
  text-decoration: none;
  animation: glitch 1s infinite;
}
@keyframes glitch {
  0%   { text-shadow: 2px 2px #ffffff, -2px -2px rgb(255, 255, 255); }
  25%  { text-shadow: -2px 2px rgb(255, 255, 255), 2px -2px rgb(255, 255, 255); }
  50%  { text-shadow: 2px -2px rgb(255, 255, 255), -2px 2px rgb(255, 255, 255); }
  75%  { text-shadow: -2px -2px rgb(255, 255, 255), 2px 2px rgb(255, 255, 255); }
  100% { text-shadow: 2px 2px rgb(255, 255, 255), -2px -2px rgb(255, 255, 255); }
}

a {
    color: rgb(255, 255, 255);;
    text-decoration: none;
}


a:hover {
    animation: glitch 1s infinite;
    color: #000000;
}


a[href="/"] {
  display: inline-block;
  margin-top: 1rem;
  color: rgb(255, 255, 255);;
  font-style: italic;
  text-decoration: underline;
  opacity: 0.8;
}


a[href="/"]:hover {
  opacity: 1;
}





/* SCROLLBAR (desktop) */
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: #000;
}
body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
body:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6);
}






/* INDEX */
.index-header {
font-size: 5vw;
  -webkit-text-stroke: 25px solid #000;
   text-shadow: 0px 0px 10px #000000;

}

.index-header2 {
font-size: 3vw;
text-shadow: 0 0 6px rgba(255, 255, 255, 0.4);
text-shadow: 0px 0px 10px #000000;


}

.index-text {
  font-size: 1.7vw;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-shadow: 0px 0px 10px #000000;
}





/* PHOTOGRAPHY */
.photography-image {
  height: 27vh;
  margin-right: 1vw;
  margin-bottom: 2vh;
  border: 0.5vh solid white;
  -webkit-user-drag: none;
  user-select: none; 
}

.photography-header {
  font-size: 9vw;
	color: white;
}

.photography-text {
  font-size: 3vw;
	color: white;
}




